<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid py-2">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li>content</li> -->
        </ul>

        <div class="d-flex">
          <button mat-button>
            <mat-icon>message</mat-icon>
          </button>

          <button mat-button>
            <mat-icon>mail_outline</mat-icon>
          </button>

          <button mat-button [matMenuTriggerFor]="setting">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #setting="matMenu">
            <button mat-menu-item class="routerLinks" routerLink="/change-password" routerLinkActive="active">Change
              Password</button>
            <button mat-menu-item (click)="logout()">Log Out</button>
          </mat-menu>
        </div>

      </div>
    </div>
  </nav>

</div>
